<section data-ng-controller="RoomsController" data-ng-init="find()">
    <div class="container" >
        <div class="row clearfix">
            <div class="col-md-6 column rooms" ng-repeat="room in rooms">
                <div class="row clearfix">
                    <a data-ng-href="/#!/rooms/{{room._id}}" >
                        <div class="col-md-12 column" >
                            <h2 class='text-center' data-ng-bind="room.name"></h2>
                        </div>
                    </a>
                </div>

                <div class="row clearfix">
                        <div class="col-md-6 col-sm-6 column" ng-repeat="switch in room.switches" class="list-group-item" >
                            <div class="row clearfix">
                                <div class="col-md-6 col-xs-6 column">
                                    <h3 ng-bind="switch.name | uppercase"></h3>
                                </div>

                                <div class="col-md-6 col-xs-6 column container toggle">
                                    <toggle-switch ng-click="toggleStatus(room)" ng-model="switch.state"><toggle-switch>
                                </div>
                            </div>

                        </div>
                </div>
                <small class="list-group-item-text">
                    Posted on
                    <span data-ng-bind="room.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="room.user.displayName"></span>
                </small>
            </div>
        </div>
    </div>




    <div class="alert alert-warning text-center" data-ng-hide="!rooms.$resolved || rooms.length">
    	No Rooms yet, why don't you <a href="/#!/rooms/create">create one</a>?
    </div>
</section>



